/* Custom properties/variables  */
:root {
    --black: #16171C;
    --black-darker: #14151a;
    --grey: #8A8D92;
    --white: #fafafa;
    --blue: #1E436A;
    --red: #CE362D;

    font-size: 10px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;


}

* {
    margin: 0;
    padding: 0;
}


*,
*::before *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    color: var(--white);

}

#cardsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.movieCard {
    box-shadow: 0px 0px 2px var(--grey);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.moviePic {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-self: start;
}

.movieTitle {
    margin-top: auto;
    font-size: 2rem;

}

.movieTitle:hover {
    cursor: pointer;
}

.movieDescription {}

.movieRate {
    font-size: 1.5rem;

}

.movieTime {
    font-size: 1.5rem;

}

nav {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}



nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

nav ul li {
    display: inline;
    font-size: 2rem;
    font-weight: 400;
}

#searchBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#searchBox input {
    margin-right: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--black-darker);
    background-color: var(--white);
    border: 1px solid var(--black);
    transition: border-color 0.15s ease-in-out;
}

#searchBox input:focus {
    border-color: var(--blue);
    outline: 0;
    box-shadow: 0px 0px 5px var(--blue);
}



select {
    appearance: none;
    background-color: transparent;
    color: var(--blue);
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select:focus {
    outline: 0;
}

label {
    color: var(--white);
    margin-right: 1rem;
}